<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>alxamdoulilaaaaaah</h1>
    <script>
        // am=1000;
        // alert(am)
        // var x='la famooooile ndfkd';
        // alert(x)
        // var xam= prompt('how are you?');
        // alert(xam)
        // var xam= prompt('ton nom?');
        // var prenom=prompt('ton prenom?');
        // alert('welcome!' + ' '+xam.toUpperCase()+ ' '+prenom.toUpperCase()+' '+Math.min(4,3,8)+' '+Boolean('')+' '+Boolean('fear'))
        var xam=100,b=120;
        // alert(xam+b-6)
        // if (xam===100) {alert("la valeur est bonne");}
        // else {alert("la valeur est mauvaise");}
       var i =0;
        while (i<= 10){
          console.log("log :",i);
          i++;
        }


    </script>
</body>
</html>